<section class='container'>
  <% if @coverage_plan %>
    <section class='row'>
      <div class='col-5 card-container'>
        <%= render 'patient-card' %>
      </div>
      <div class='col-7 card-container'>
        <%= render 'plan-card' %>
      </div>
    </section>
  <% else %>
    <%= render 'query-error', resource_type: 'Drug Coverage', not_found_message: 'You do not have an active drug coverage.' %>
  <% end %>
</section>
