<section class='container'>
  <section class='row'>
    <div class='col-5 card-container'>
      <%= render 'patient-card' %>
    </div>
    <div class='col-7 card-container'>
      <%= render 'plan-card' %>
    </div>
  </section>
</section>
