<footer >
	<div class='text-center text-white small p-3' style='background-color: rgba(0, 0, 0, 0.2)'>
		<p>
			&copy; <%= Time.now.year %>
			<%= link_to 'The MITRE Corporation', 'https://www.mitre.org' %>.<br />
			All rights reserved.
		</p>
	</div>
</footer>
