<header>
	<nav class='navbar fixed-top navbar-expand-lg bg-dark navbar-dark'>
		<div class='navbar-brand'>
			<%= link_to root_path do %>
				<%= image_tag 'logo.png', id: 'logo', alt: '' %>
				<h1>My Health Plan</h1>
			<% end %>
		</div>	
	</nav>
</header>
