<section>
    <table class='table table-dark'>
		<tr>
			<th scope='col'>Drug</th>
            <% @table_header.each do |cp| %>
			    <th scope='col'><%= cp.name -%></th>
            <% end %>
		</tr>
		<% @table_rows.each do |code, plan_hash| %>
			<tr>
				<td>
                    <%= plan_hash.values.first.drug_name -%>
				</td>
                <% @table_header.each do |cp| %>
			        <td style="background-color: <%= plan_hash.has_key?(cp.id) ? "#00ff00" : "#ff0000" -%>"></td>
                <% end %>
			</tr>
		<% end %>
	</table>
</section>