<div class="form-outline mb-2">
  <%= text_field_tag :client_id, @credentials&.client_id, class: "form-control form-control-lg",
    placeholder: "Client ID", required: true
  %>
  <label class="form-label">Client ID <span class="text-danger">**</span></label>
</div>
<div class="form-outline mb-2">
  <%= text_field_tag :client_secret, @credentials&.client_secret, class: "form-control form-control-lg",
    placeholder: "Client secret", required: true
  %>
  <label class="form-label">Client secret <span class="text-danger">**</span></label>
</div>
<div class="form-outline mb-2">
  <%= text_field_tag :scope, @credentials&.scope, class: "form-control form-control-lg",
    placeholder: "Scopes"
  %>
  <label class="form-label">Server scopes</label>
</div>
<div class="form-outline mb-2">
  <%= text_field_tag :aud, @credentials&.aud, class: "form-control form-control-lg",
    placeholder: "Authorization aud parameter"
  %>
  <label class="form-label">Server's audience(aud) claim</label>
</div>
