<h4 class="text-uppercase card-title text-center mb-5">authenticate to a formulary fhir server</h4>
<% if @client %>
  <p class="card-subtitle text-success m-auto client-connected text-center">
    Connected to <%= @credentials&.server_url %>
  </p>
  <p class="card-subtitle text-success m-auto client-connected text-center">
    Patient <%= session[:patient_id] %>
  </p>
  <br />
  <%= form_tag dashboard_path, method: "get", id: "server-form" do %>
    <div class="d-flex justify-content-center">
      <%= button_tag "My Formulary", class: "btn btn-success btn-block btn-md gradient-custom-4 text-body", id: "server-url" %>
    </div>
  <% end %>
<% else %>
  <p class="card-subtitle text-danger m-auto" style='text-align: center'>No Connection Established</p>
<% end %>
