<section class='container'>
	<div class='d-flex flex-column justify-content-center mb-4'>
		<h1 class='float-left text-white'>Payer:&nbsp;
			<%= sanitize(@payerplan[:name])%>
		</h1>
    <div class='card bg-transparent text-white'>
      <div class='card-body'>
        <h2 class='card-title'>Formularies on this plan:</h2>
        <p class='card-text h5'>
          <% @payerplan[:formularies_ids].each do |id| %>
            <% drug_plan = @plansbyid[id.to_sym] %>
            <%= link_to sanitize(drug_plan[:name]), "/coverageplans/#{drug_plan[:id]}" %>&nbsp;
          <% end %>
        </p>
      </div>
    </div>
	</div>
  <div class='col-12 card-group'>
    <% @payerplan[:plans].each do |plan| %>
      <%= render 'plan-card', plan: plan %>
    <% end %>
  </div>
</section>
