<% if @formularydrugs.empty? %>
    <div style='margin-top: 8%;'> <%= render "partials/query" %> </div>
    <%= render 'dashboard/query-error', resource_type: 'Formulary Drugs', not_found_message: 'No valid formulary drugs match your search.' %>
<% else %>
    <%= render "untiered" %>
<% end %>
