<section class='container'>
  <h1 class="text-center text-light font-weight-bolder mx-auto mb-2">Export Bulk Formulary Data</h1>
	<p class="text-success mx-auto mb-5 client-connected" style='text-align: center'>
			Exporting from  <%= cookies[:server_url] -%>
	</p>
  <%= render 'buttons' %>
	<%= render 'table' %>
</section>
